*{
  margin: 0;
  padding: 0;
  box-sizing: "border-box"
}
body{
  overflow-x: hidden;
}

.main-image{
  background: url("./img/will-van-wingerden-dsvJgiBJTOs-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 80vh;
  position: relative;
  background-attachment: fixed;
}

.filter:after{
  background-color: rgba(0,0,0,0.2);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}